<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-br from-purple-900 to-purple-700 h-screen flex items-center justify-center">

    <div class="bg-white rounded-lg shadow-lg flex flex-col md:flex-row overflow-hidden max-w-sm md:max-w-3xl w-full mx-2">
        <!-- Logo Section -->
        <div class="bg-purple-900 p-6 flex items-center justify-center md:w-1/3 w-full">
            <img src="polmed.png" alt="Polmed Logo" class="w-24 h-24 md:w-32 md:h-32">
        </div>

        <!-- Form Section -->
        <div class="p-6 md:p-8 md:w-2/3 w-full">
            <h2 class="text-2xl md:text-3xl font-semibold mb-4 md:mb-6 text-purple-900">Selamat Datang di Portal Polmed</h2>
            <p class="text-gray-600 mb-6 md:mb-8 text-sm md:text-base">Silahkan login di bawah ini</p>

            <form action="" method="POST">
                <div class="mb-4 md:mb-6">
                    <label for="username" class="block text-gray-700 text-sm font-medium mb-2">Username</label>
                    <input type="text" id="username" name="username" class="w-full p-2 md:p-3 border border-gray-300 rounded focus:outline-none focus:border-yellow-500" autocomplete="off">
                </div>

                <div class="mb-4 md:mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-medium mb-2">Password</label>
                    <input type="password" id="password" name="password" class="w-full p-2 md:p-3 border border-gray-300 rounded focus:outline-none focus:border-yellow-500" autocomplete="off">
                </div>

                <button type="submit" name="login" class="w-full bg-yellow-500 text-white p-2 md:p-3 rounded hover:bg-yellow-600 focus:outline-none focus:bg-yellow-600">Login</button>
            </form>
        </div>
    </div>

</body>

</html>
